{
  :main [
    {:des "Caps lock to Left Control" :rules [[:caps_lock :left_control]]}
    {:des "Left Option T Open iTerm2"  :rules [[:!Ot "open -aiterm"]]}
    {:des "Left OPtion B Open Safari"  :rules [[:!Ob "open -asafari"]]}
    {:des "Right Copy" :rules [[:!Tc :!Cc :!Disabled]]} 
    {:des "Right Paste" :rules [[:!Tv :!Cv :!Disabled]]}
    {:des "Right Cut" :rules [[:!Tx :!Cx :!Disabled]]}
    {:des "Right Save" :rules [[:!Ts :!Cs :!Disabled]]}
    {:des "Right Home" :rules [[:home :!Cleft_arrow :!Browsers_disabled]]}
    {:des "Right End" :rules [[:end :!Cright_arrow :!Browsers_disabled]]}
    {:des "Right Home_Browsers" :rules [[:home :!Cleft_arrow :Browsers]]}
    {:des "Right End_Browsers" :rules [[:end :!Cright_arrow :Browsers]]}
    {:des "Right Home_Laptop" :rules [[:!Fleft_arrow :!Cleft_arrow :!Browsers_disabled]]}
    {:des "Right End_Laptop" :rules [[:!Fright_arrow :!Cright_arrow :!Browsers_disabled]]}
    {:des "Right Home_Browsers_Laptop" :rules [[:!Fleft_arrow :!Cleft_arrow :Browsers]]}
    {:des "Right End_Browsers_Laptop" :rules [[:!Fright_arrow :!Cright_arrow :Browsers]]}
    {:des "Right Reload F5_Laptop" :rules [[:!Ff5 :!Cr :!Disabled]]}
    {:des "Right Redo" :rules [[:!TSz :!CSz :!Disabled]]}
    {:des "Right Undo" :rules [[:!Tz :!Cz :!Disabled]]}
    {:des "Right Select All" :rules [[:!Ta :!Ca :!Disabled]]}
    {:des "Right Reload Ctrl-R" :rules [[:!Tr :!Cr :!Disabled]]}
    {:des "Right Reload F5" :rules [[:f5 :!Cr :!Disabled]]}
    {:des "Right New Tab" :rules [[:!Tt :!Ct :!Disabled]]}
    {:des "Right New Tab" :rules [[:!TSt :!CSt :!Disabled]]}
    {:des "Right Find" :rules [[:!Tf :!Cf :!Disabled]]}
    {:des "Right Open" :rules [[:!To :!Co :!Disabled]]}
    {:des "Right New" :rules [[:!Tn :!Cn :!Disabled]]}
    {:des "Right Vold" :rules [[:!Tb :!Cb :!Disabled]]}
    {:des "Right Italic" :rules [[:!Ti :!Ci :!Disabled]]}
    {:des "Right Underline" :rules [[:!Tu :!Cu :!Disabled]]}
    {:des "Right Quit" :rules [[:!Tq :!Cq]]}
    {:des "Right Close windows" :rules [[:!Tw :!Cw :!Disabled]]}
    {:des "Right Lock" :rules [[:!Cl :!CTq]]}
    {:des "Right PrintScreen Selection" :rules [[:!Sprint_screen :!CS4]]}
    {:des "Right PrintScreen" :rules [[:print_screen :!CS3]]}
    {:des "Right Browser open location" :rules [[:!Tl :!Cl :!Disabled]]}
    {:des "Right Back" :rules [[:!Oleft_arrow :!C!Sleft_arrow :!Disabled]]}
    {:des "Right Forward" :rules [[:!Oright_arrow :!C!Sright_arrow :!Disabled]]}
    {:des "Right Ctrl-Del" :rules [[:!Tdelete_or_backspace :!Odelete_or_backspace]]}
    {:des "Right Browser Zoom Minus" :rules [[:!Thyphen :!Chyphen :Browsers]]}
    {:des "Right Browser Zoom Minus Keypad" :rules [[:!Tkeypad_hyphen :!Ckeypad_hyphen :Browsers]]}
    {:des "Right Browser Zoom Plus" :rules [[:!Tequal_sign :!Cequal_sign :Browsers]]}
    {:des "Right Browser Zoom Plus" :rules [[:!Tkeypad_plus :!Ckeypad_plus :Browsers]]}
    {:des "Snap Right" :rules [[:!Cright_arrow :!CTright_arrow]]}
    {:des "Snap Left" :rules [[:!Cleft_arrow :!CTleft_arrow]]}
    {:des "Right Copy Terminal" :rules [[:!TSc :!Cc :Terminals]]} 
    {:des "Right Paste Terminal" :rules [[:!TSv :!Cv :Terminals]]}
    {:des "Right Cut Terminal" :rules [[:!TSx :!Cx :Terminals]]}
    {:des "Right Save Terminal" :rules [[:!TSs :!Cs :Terminals]]}
    {:des "Fullscreen" :rules [[:!Creturn_or_enter :!COSreturn_or_enter]]}
    {:des "Restore" :rules [[:!Cdelete_or_backspace :!COreturn_or_enter]]}
    {:des "Print" :rules [[:!Tp :!TSp]]}
    {:des "Preferences" :rules [[:!Cp :!Ccomma]]}

    ]
    
  :applications {
    :Disabled [
      "^com\\.microsoft\\.rdc$"
      "^com\\.microsoft\\.rdc\\.mac$"
      "^com\\.microsoft\\.rdc\\.osx\\.beta$"
      "^net\\.sf\\.cord$"
      "^com\\.thinomenon\\.RemoteDesktopConnection$"
      "^com\\.itap-mobile\\.qmote$"
      "^com\\.nulana\\.remotixmac$"
      "^com\\.p5sys\\.jump\\.mac\\.viewer$"
      "^com\\.p5sys\\.jump\\.mac\\.viewer\\.web$"
      "^com\\.teamviewer\\.TeamViewer$"
      "^com\\.vmware\\.horizon$"
      "^com\\.2X\\.Client\\.Mac$"
      "^com\\.vmware\\.fusion$"
      "^com\\.vmware\\.horizon$"
      "^com\\.vmware\\.view$"
      "^com\\.parallels\\.desktop$"
      "^com\\.parallels\\.vm$"
      "^com\\.parallels\\.desktop\\.console$"
      "^org\\.virtualbox\\.app\\.VirtualBoxVM$"
      "^com\\.vmware\\.proxyApp\\."
      "^com\\.parallels\\.winapp\\."
      "^com\\.apple\\.Terminal$"
      "^com\\.googlecode\\.iterm2$"
      "^com\\.devolutions\\.remotedesktopmanager\\.free$"
      "^co\\.zeit\\.hyperterm$"
      "^co\\.zeit\\.hyper$"  
      ]
    :Terminals [
      "^com\\.apple\\.Terminal$"
      "^com\\.googlecode\\.iterm2$"
      "^com\\.devolutions\\.remotedesktopmanager\\.free$"
      "^co\\.zeit\\.hyperterm$"
      "^co\\.zeit\\.hyper$" 
      ]
    :Browsers [
      "^org\\.mozilla\\.firefox$"
      "^org\\.mozilla\\.firefoxdeveloperedition$"
      "^com\\.google\\.Chrome$"
      "^org\\.chromium\\.Chromium$"
      "^com\\.google\\.Chrome\\.canary$"
      "^com\\.apple\\.Safari$"]
    :Browsers_disabled [
      "^com\\.microsoft\\.rdc$"
      "^com\\.microsoft\\.rdc\\.mac$"
      "^com\\.microsoft\\.rdc\\.osx\\.beta$"
      "^net\\.sf\\.cord$"
      "^com\\.thinomenon\\.RemoteDesktopConnection$"
      "^com\\.itap-mobile\\.qmote$"
      "^com\\.nulana\\.remotixmac$"
      "^com\\.p5sys\\.jump\\.mac\\.viewer$"
      "^com\\.p5sys\\.jump\\.mac\\.viewer\\.web$"
      "^com\\.teamviewer\\.TeamViewer$"
      "^com\\.vmware\\.horizon$"
      "^com\\.2X\\.Client\\.Mac$"
      "^com\\.vmware\\.fusion$"
      "^com\\.vmware\\.horizon$"
      "^com\\.vmware\\.view$"
      "^com\\.parallels\\.desktop$"
      "^com\\.parallels\\.vm$"
      "^com\\.parallels\\.desktop\\.console$"
      "^org\\.virtualbox\\.app\\.VirtualBoxVM$"
      "^com\\.vmware\\.proxyApp\\."
      "^com\\.parallels\\.winapp\\."
      "^com\\.apple\\.Terminal$"
      "^com\\.googlecode\\.iterm2$"
      "^com\\.devolutions\\.remotedesktopmanager\\.free$"
      "^co\\.zeit\\.hyperterm$"
      "^co\\.zeit\\.hyper$"                 
      "^org\\.mozilla\\.firefox$"
      "^org\\.mozilla\\.firefoxdeveloperedition$"
      "^com\\.google\\.Chrome$"
      "^org\\.chromium\\.Chromium$"
      "^com\\.google\\.Chrome\\.canary$"
      "^com\\.apple\\.Safari$"]
    }
}
